/**************************
        MARGINS
***************************/
.mt2 {
    margin-top: 0.125rem!important;
}
.ml2 {
    margin-left: 0.125rem!important;
}
.mr2 {
    margin-right: 0.125rem!important;
}
.mb2 {
    margin-bottom: 0.125rem!important;
}
.mx2 {
    margin-right: 0.125rem!important;
    margin-left: 0.125rem!important;
}
.my2 {
    margin-top: 0.125rem!important;
    margin-bottom: 0.125rem!important;
}

.mt4 {
    margin-top: 0.25rem!important;
}
.ml4 {
    margin-left:  0.25rem!important;
}
.mr4 {
    margin-right:  0.25rem!important;
}
.mb4 {
    margin-bottom:  0.25rem!important;
}
.mx4 {
    margin-right:  0.25rem!important;
    margin-left:  0.25rem!important;
}
.my4 {
    margin-top:  0.25rem!important;
    margin-bottom:  0.25rem!important;
}

.mt8 {
    margin-top: 0.5rem!important;
}
.ml8 {
    margin-left: 0.5rem!important;
}
.mr8 {
    margin-right: 0.5rem!important;
}
.mb8 {
    margin-bottom: 0.5rem!important;
}
.mx8 {
    margin-right: 0.5rem!important;
    margin-left: 0.5rem!important;
}
.my8 {
    margin-top: 0.5rem!important;
    margin-bottom: 0.5rem!important;
}

.mt12 {
    margin-top: 0.75rem!important;
}
.ml12 {
    margin-left: 0.75rem!important;
}
.mr12 {
    margin-right: 0.75rem!important;
}
.mb12 {
    margin-bottom: 0.75rem!important;
}
.mx12 {
    margin-right: 0.75rem!important;
    margin-left: 0.75rem!important;
}
.my12 {
    margin-top: 0.75rem!important;
    margin-bottom: 0.75rem!important;
}

.mt16 {
    margin-top: 1rem!important;
}
.ml16 {
    margin-left: 1rem!important;
}
.mr16 {
    margin-right: 1rem!important;
}
.mb16 {
    margin-bottom: 1rem!important;
}
.mx16 {
    margin-right: 1rem!important;
    margin-left: 1rem!important;
}
.my16 {
    margin-top: 1rem!important;
    margin-bottom: 1rem!important;
}

.mt20 {
    margin-top: 1.25rem!important;
}
.mr20 {
    margin-right: 1.25rem!important;
}
.ml20 {
    margin-left: 1.25rem!important;
}
.mb20 {
    margin-bottom: 1.25rem!important;
}
.mx20 {
    margin-right: 1.25rem!important;
    margin-left: 1.25rem!important;
}
.my20 {
    margin-top: 1.25rem!important;
    margin-bottom: 1.25rem!important;
}
/**************************
        PADDINGS
***************************/
.pt8 {
    padding-top: 0.5rem!important;
}
.pl8 {
    padding-left: 0.5rem!important;
}
.pr8 {
    padding-right: 0.5rem!important;
}
.pb8 {
    padding-bottom: 0.5rem!important;
}
.px8 {
    padding-right: 0.5rem!important;
    padding-left: 0.5rem!important;
}
.py8 {
    padding-top: 0.5rem!important;
    padding-bottom: 0.5rem!important;
}
.py10 {
    padding-top: 0.625rem!important;
    padding-bottom: 0.625rem!important;
}

.p12 {
    padding: 0.75rem!important;
}
.pt12 {
    padding-top: 0.75rem!important;
}
.pl12 {
    padding-left: 0.75rem!important;
}
.pr12 {
    padding-right: 0.75rem!important;
}
.pb12 {
    padding-bottom: 0.75rem!important;
}
.px12 {
    padding-right: 0.75rem!important;
    padding-left: 0.75rem!important;
}
.py12 {
    padding-top: 0.75rem!important;
    padding-bottom: 0.75rem!important;
}

.p16 {
    padding: 1rem!important;
}
.px16 {
    padding-right: 1rem!important;
    padding-left: 1rem!important;
}
.py16 {
    padding-top: 1rem!important;
    padding-bottom: 1rem!important;
}

.pt20 {
    padding-top: 1.25rem!important;
}
.pl20 {
    padding-left: 1.25rem!important;
}
.pr20 {
    padding-right: 1.25rem!important;
}
.pb20 {
    padding-bottom: 1.25rem!important;
}
.px20 {
    padding-right: 1.25rem!important;
    padding-left: 1.25rem!important;
}
.py20 {
    padding-top: 1.25rem!important;
    padding-bottom: 1.25rem!important;
}
.p20 {
    padding: 1.25rem!important;
}
